body {
	/*background-color: lightblue;*/
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.row .col-2 {
	/*background-color: lightblue;*/
	/*border-right: 6px solid */
	background-color: #ccf2ff;
}

.row .col {
	background-color: lightblue;
	/*border-style: outset;*/
	/*border-bottom: 6px solid black;*/
}

.col-10 .container-fluid{
	background-color: #e4ede6;
}

.col-10 {
	border-left: 2px solid white;
	background-color: #e4ede6;
}

.card {
	background-color: lightblue;
}

h1 {
	color: #009933;
	font-size: 3.875em;
}

h2 {
	color: #009933;
}

td[colspan="3"]{
	text-align: right;
}
